In [1]:
!pip3 install pymysql
!pip3 install pandas
!pip install sqlalchemy

Requirement already satisfied: pymysql in d:\program files (x86)\python\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\program files (x86)\python\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in d:\program files (x86)\python\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\program files (x86)\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\program files (x86)\python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\program files (x86)\python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\program files (x86)\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in d:\program files (x86)\python\lib\site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\program files (x86)\python\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\program files (x86)\python\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymysql.cursors
from sqlalchemy import create_engine
import pandas as pd
import datetime
import uuid
import numpy as np
import json
from itertools import combinations

In [3]:
database_uri = 'mysql+pymysql://jic281:InfSci2710_4689586@164.90.137.194/greenstep'
engine = create_engine(database_uri)

In [4]:
qry = "SELECT * FROM orders;"
order_result = pd.read_sql(qry, con=engine)
order_result.head()

   order_id  user_id  address_id         date_placed  total_price      status
0         1        1           1 2024-03-26 09:00:00       299.98     Shipped
1         2        2           2 2024-03-27 10:30:00       129.99  Processing
2         3        3           3 2024-03-28 11:45:00        99.99   Delivered
3         4        4           4 2024-03-29 14:00:00        59.99     Shipped
4         5        5           5 2024-03-30 16:15:00        49.99  Processing

In [5]:
!pip install flask flask_restful

Requirement already satisfied: flask in d:\program files (x86)\python\lib\site-packages (3.0.3)
Requirement already satisfied: flask_restful in d:\program files (x86)\python\lib\site-packages (0.3.10)
Requirement already satisfied: Werkzeug>=3.0.0 in d:\program files (x86)\python\lib\site-packages (from flask) (3.0.2)
Requirement already satisfied: Jinja2>=3.1.2 in d:\program files (x86)\python\lib\site-packages (from flask) (3.1.3)
Requirement already satisfied: itsdangerous>=2.1.2 in d:\program files (x86)\python\lib\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in d:\program files (x86)\python\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in d:\program files (x86)\python\lib\site-packages (from flask) (1.7.0)
Requirement already satisfied: aniso8601>=0.82 in d:\program files (x86)\python\lib\site-packages (from flask_restful) (9.0.1)
Requirement already satisfied: six>=1.3.0 in d:\program files (x86)\python\lib\site-packages (from flask_restful) (1.16.0)
Requirement already satisfied: pytz in d:\program files (x86)\python\lib\site-packages (from flask_restful) (2024.1)
Requirement already satisfied: colorama in d:\program files (x86)\python\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in d:\program files (x86)\python\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.5)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from flask import Flask, jsonify, request
from flask_restful import Resource, Api, reqparse
import pandas as pd
from sqlalchemy import create_engine, text
import json
from datetime import datetime

app = Flask(__name__)
api = Api(app)

class Orders(Resource):
    
    def get(self):
        with engine.connect() as connection:
            result = pd.read_sql("SELECT * FROM orders;", con=connection)
            return jsonify(json.loads(result.to_json(orient='records')))
    def post(self):
        post_parser = reqparse.RequestParser()
        post_parser.add_argument('address_id', type=int, required=True, help="Address ID is required")
        post_parser.add_argument('date_placed', type=int, required=True, help="Date placed is required")
        post_parser.add_argument('status', type=str, required=True, help="Status of the order is required")
        post_parser.add_argument('total_price', type=float, required=True, help="Total price cannot be blank")
        post_parser.add_argument('user_id', type=int, required=True, help="User ID is required")
        
        args = post_parser.parse_args()
        
        date_placed = datetime.fromtimestamp(args['date_placed'] / 1000.0)

        sql = text("""
            INSERT INTO orders (address_id, date_placed, status, total_price, user_id)
            VALUES (:address_id, :date_placed,:status, :total_price, :user_id);
        """)

        # 将参数传递为字典
        params = {
            'address_id': args['address_id'],
            'date_placed': date_placed,
            'status': args['status'],
            'total_price': args['total_price'],
            'user_id': args['user_id']
        }

        with engine.connect() as connection:
            connection.execute(sql, params)  # 使用字典传递参数
            connection.commit()
        return {'message': 'Order added successfully'}, 201      

    def put(self):
        put_parser = reqparse.RequestParser()
        put_parser.add_argument('order_id', type=int, help="Order ID is required", required=True)
        put_parser.add_argument('address_id', type=int, help="Address ID is required", required=True)
        put_parser.add_argument('date_placed', type=int, help="Date placed is required", required=True)
        put_parser.add_argument('status', type=str, help="Status of the order is required", required=True)
        put_parser.add_argument('total_price', type=float, help="Total price cannot be blank", required=True)
        put_parser.add_argument('user_id', type=int, help="User ID is required", required=True)
        args = put_parser.parse_args()
        order_id = args.get('order_id')
        
        if not order_id:
            return {'message': 'Order ID is required.'}, 400

        date_placed = datetime.fromtimestamp(args['date_placed'] / 1000.0)

        sql = text("""
            UPDATE orders 
            SET address_id=:address_id, date_placed=:date_placed, status=:status, 
                total_price=:total_price, user_id=:user_id
            WHERE order_id=:order_id;
        """)

        params = {
            'order_id': order_id,
            'address_id': args['address_id'],
            'date_placed': date_placed,
            'status': args['status'],
            'total_price': args['total_price'],
            'user_id': args['user_id']
        }

        with engine.connect() as connection:
            result = connection.execute(sql, params)
            connection.commit()
            if result.rowcount == 0:
                return {'message': 'No order found with the given ID or no update needed as the data is the same.'}, 404

        return {'message': 'Order updated successfully'}, 200
        
    def delete(self):
        delete_parser = reqparse.RequestParser()
        delete_parser.add_argument('order_id', type=int, help="Order ID is required", required=True)
        
        args = delete_parser.parse_args()
        order_id = args.get('order_id')
        
        if not order_id:
            return {'message': 'Order ID is required??.'}, 400

        sql = text("DELETE FROM orders WHERE order_id = :order_id;")

        with engine.connect() as connection:
            result = connection.execute(sql, {'order_id': order_id})
            connection.commit()
            if result.rowcount == 0:
                return {'message': 'No order found with the given ID.'}, 404
        return {'message': 'Order deleted successfully'}, 200

api.add_resource(Orders, '/orders')
if __name__ == '__main__':
    app.run(debug=True, use_reloader=False)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [18/Apr/2024 16:07:55] "GET /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:08:16] "POST /orders HTTP/1.1" 201 -
127.0.0.1 - - [18/Apr/2024 16:08:20] "GET /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:08:39] "PUT /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:08:44] "GET /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:09:10] "POST /orders HTTP/1.1" 201 -
127.0.0.1 - - [18/Apr/2024 16:09:14] "GET /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:09:32] "DELETE /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:09:38] "GET /orders HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2024 16:10:03] "POST /orders HTTP/1.1" 201 -
127.0.0.1 - - [18/Apr/2024 16:10:07] "GET /orders HTTP/1.1" 200 -